
.auth-page .errortext {
   font-size: 12px;
   color:#ff0000;
   position: absolute;
   bottom:0;
   left: 0;
   width: 100%;
}
#autorisation_reg .mr_check .errortext {
    position: unset;
}
#autorisation_reg p .errortext {
    padding-bottom: 6px;
}
#autorisation_reg p {
    position: relative;
}
#autorisation_reg .input-icon {
    position: absolute;
    right: 0;
    top: 17px;
    bottom: unset;
}
#autorisation_reg .errortext {
    position: absolute;
    bottom:0;
    left:0;
}
@media (max-width:360px) {
    #autorisation_reg .errortext {
		position: unset;
	}
}