

/* Start:/bitrix/templates/v11/components/store77/catalog/.default/style.css?1642594239531*/
.specify_category .filter_box .col_multi {
    display: flex;
    flex-wrap: wrap;
}
.specify_category .col_multi li a {
    background: #f5f5f5;
    border-radius: 20px;
    display: inline-flex;
    color: #5c5c5c;
    font-style: italic;
    padding: 8px 15px;
    margin-bottom: 15px;
    margin-right: 7px;
}
.specify_category .col_multi li a.act,
.specify_category .col_multi li a:hover {
    background: #e4dc00;
    color: #5c5c5c;    
}

.sort_total_filter .block_total_filter.multiserch_result_filter {
    width: 100%;
}
/* End */


/* Start:/bitrix/templates/v11/components/bitrix/breadcrumb/catalog_section/style.css?1632255122158*/
ul.breadcrumb-navigation {
    padding: 0;
    margin: 0;
    padding-top: 4px;
    list-style: none;
}

ul.breadcrumb-navigation li {
    display: inline;
}

/* End */


/* Start:/bitrix/templates/v11/components/store77/system.pagenavigation/.default/style.css?169399792040*/
.wrap_pagination{
    min-height:80px;
}
/* End */
/* /bitrix/templates/v11/components/store77/catalog/.default/style.css?1642594239531 */
/* /bitrix/templates/v11/components/bitrix/breadcrumb/catalog_section/style.css?1632255122158 */
/* /bitrix/templates/v11/components/store77/system.pagenavigation/.default/style.css?169399792040 */
